<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
</head>
<body>
    <a href="{% url 'focus' %}"> choisir un capteur</a>
    <article class="article1">
        <p>donnee du capteur </p>
        {% for donnee in donnee %}

            <p> temperature : {{donnee.temperature}} ; timestamp : {{donnee.timestamp}} ; capteur {{donne.id_capteur}}</p>

        {% endfor %}
    </article>
   
   
</body>
</html>